/* Styles on button */
.button {
  background-image: url('Images/taco.png');
  background-size: 70px 70px;
  height: 70px;
  width: 70px;
  background-color: transparent;
  border: none;
  transition-duration: 2s;
  transition-property: transform;
}

/* Styles when hovering the button */
.button:hover {
  transform: rotate(360deg);
}
