* {
  box-sizing: border-box;
}

body {
  background-color: #f3e9e3;
  font-family: 'Advent Pro';
}

h1 {
  color: #ed91b2;
  font-size: 70px;
  font-family: 'Bungee Shade';
  font-weight: lighter;
  display: flex;
  justify-content: center;
  margin: auto;
}

h2 {
  display: flex;
  justify-content: center;
  color: #ed91b2;
  font-family: 'Advent Pro';
  font-size: 20px;
  margin: 0px;
}

footer {
  display: flex;
  justify-content: center;
  font-family: 'Advent Pro';
  font-size: 14px;
  height: 20px;
  margin: auto;
  padding: 30px;
}

.parent {
  display: flex;
  justify-content: center;
}

.child {
  display: flex;
  background-color: white;
  border-radius: 20px;
  height: 100%;
  width: 300px;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 20px;
  padding-top: 20px;
}

.child li {
  list-style-type: none;
  margin-left: 20px;
  margin-right: 20px;
}

.headerTaco {
  margin-left: 30px;
}

.border {
  border: 2px dashed #f3e9e3;
  width: 100%;
  margin: auto;
  margin-top: 5%;
  margin-bottom: 5%;
}
