* {
  box-sizing: border-box;
}
/* Styles on body */
body {
  background-color: #f3e9e3;
  font-family: 'Advent Pro';
}

/* Styles on H1, first "Taco!" */
h1 {
  color: #ed91b2;
  font-size: 70px;
  font-family: 'Bungee Shade';
  font-weight: lighter;
  display: flex;
  justify-content: center;
  margin: auto;
}

/* Styles on H2, "it's taco-monday.." */
h2 {
  display: flex;
  justify-content: center;
  color: #ed91b2;
  font-family: 'Advent Pro';
  font-size: 20px;
  margin: 0px;
}

/* Styles parent-div */
.parent {
  display: flex;
  justify-content: center;
}

/* Styles on child-div */
.child {
  background-color: white;
  border-radius: 20px;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 20px;
  padding-top: 20px;
  display: flex;
  height: 100%;
  width: 300px;
}

/* Styles on the second "Taco!" text that is placed more to the left */
.headerTaco {
  margin-left: 30px;
}

/* Styles on the border that separates the recepiets */
.border {
  border: 2px dashed #f3e9e3;
  width: 100%;
  margin: auto;
  margin-top: 5%;
  margin-bottom: 5%;
}

/* Styles on the footer */
footer {
  display: flex;
  justify-content: center;
  font-family: 'Advent Pro';
  font-size: 14px;
  height: 20px;
  margin: auto;
  padding: 30px;
}
